@import 'roboto';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    & h2 {
        font-weight: 400;
        font-size: 1.5rem;
    }
    & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        word-wrap: break-word;
    }
}
